<% content_for :title, "Editing movie" %>

<h1 class="m-4">Modifier le film</h1>

<%= render "form", movie: @movie %>

<br>

<div class="d-grid gap-2 col-md-2 col-sm-4 mx-4">
  <%= link_to "Voir le film", @movie,  class: "btn btn-outline-primary" %> 
  <%= link_to "Revenir aux films", movies_path,  class: "btn btn-outline-primary" %>
</div>
