<% content_for :title, "Editing director" %>

<h1 class="m-4">Modifier les producteurs</h1>

<%= render "form", director: @director %>

<br>

<div class="d-grid gap-2 col-md-2 col-sm-4 mx-4">
  <%= link_to "Voir ce producteur", @director, class: "btn btn-outline-primary" %>
  <%= link_to "Revenir aux producteurs", directors_path, class: "btn btn-outline-primary" %>
</div>
