<% content_for :title, "New director" %>

<h1 class="mx-4">Nouveau producteur</h1>

<%= render "form", director: @director %>

<br>

<div>
  <%= link_to "Revenir aux producteurs", directors_path, class: "btn btn-outline-primary mx-4" %>
</div>
