// Sassy
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.liste{
    a{
        text-decoration: none;
        color: black;
    }
    a:hover{
        color: blue;
    }
}

.title-director{
    color: blue;
    font-weight: bold;
}

body{
    background-color: rgb(255, 255, 255);
}

.summary,
.title{
    width:400px
}