// Sassy
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.title-director,
.title-movie{
    color: rgb(44, 100, 231);
    font-weight: bold;
}

body{
    background-color: rgb(223, 238, 251);
}

.summary,
.title{
    width:400px
}